@import url(https://fonts.googleapis.com/css2?family=Ubuntu&family=League+Spartan&display=swap);


/* Style the header */
.header {
  /* padding: 80px; some padding */

  background-image: url('../images/background.jpg');
  background-size: cover;
  color: black; /* white text color */
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;

  /* Set a specific height */
  min-height: 170px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
}



/*----*/
/* Style the top navigation bar */
.navbar{
  font-family: 'Ubuntu', sans-serif;
  font-size : 17px;
  margin: 0px;
  background-color: #8ecae6; /* blue background color */
  overflow: initial;
}


/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: black; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  color: grey; /* Black text color */
}

/*----*/
/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: nowrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 15%; /* Set the width of the sidebar */
  float: left;
  background-color: #f1f1f1; /* Grey background color */
  padding: 25px 20px 25px 35px; /* Some padding */
  
}
.personal info {
  family-font: 'League Spartan', sans-serif;
}

.arrondie {
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
  border-radius:100px;
}

.card{
box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card img{
  padding:7px;
}

/* Main column */
.main {
  flex: 70%; /* Set the width of the main content */
  background-color: white; /* White background color */
  /* padding: 20px; Some padding */
  padding: 35px 35px;
}

/*----*/
 /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

/*-- NE FONCTIONNE PAS ?--*/
.funding{
  background-color: #fff;
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  .funding {
    padding: 3em 0;
  }
}


/*----*/

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/* Credit to https://epicbootstrap.com/snippets/footer-basic */
